# Ignorar arquivos compilados do Java
*.class

# Ignorar arquivos binários gerados pelo programa
*.bin

# Ignorar arquivos pdf's gerados pelo programa
*.pdf

# Ignorar pastas de sistema
.DS_Store
Thumbs.db
